<div class="contentHeader">
	<h1 class="contentTitle">{L_sb_manage_archive} {SB_PAGE_TITLE}</h1>
</div>

 <form method="post" action="{ACTION}" id="sb_table">
<div class="grid">
	<div class="onerow">
		<div class="col2">
			<table class="table fullwidth forumline colorswitch">
              <!-- BEGIN year_row -->
              <tr>
                <th class="center">{year_row.YEAR}</th>
              </tr>
              <!-- BEGIN month_row -->
              <tr>
                <td>
                  <span style="float:left">
                    <a href="{year_row.month_row.LINK_VIEW}" class="menu_arrow">{year_row.month_row.MONTH}</a>
                  </span>
                  <span style="float:right">
                    ({year_row.month_row.COUNT})
                  </span>
                </td>
              </tr>
              <!-- END month_row -->
              <!-- END year_row -->
            </table>
		</div>
		<div class="col10 last">
              <table class="table fullwidth colorswitch">
                {SB_TABLE}
              </table>
		</div>
	</div>
</div>

<div class="center pagination_wrapper">
	{PAGINATION}
</div>
<div class="contentFooter">
	<input name="start" type="hidden" value="{START}" />
	<button type="submit" name="sb_delete"><i class="fa fa-times"></i>{L_delete}</button>
	{CSRF_TOKEN}
</div>
</form>