
<script type="text/javascript">
  function onShoutboxArchiveSearchFocus(input)
  {
    if (input.value == '{L_SEARCH}...')
      input.value = '';
  }

  function onShoutboxArchiveSearchBlur(input)
  {
    if (input.value == '')
      input.value = '{L_SEARCH}...';
  }
</script>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th>
      <span style="float:left">
        <a href="{LINK_MANAGE}">{L_ARCHIVE}</a> {L_PAGE_TITLE}
      </span>
      <span style="float:right">
        <form action="{LINK_MANAGE}" method="post">
          <input type="text" class="input search" value="{L_SEARCH}..." name="search" onFocus="onShoutboxArchiveSearchFocus(this);" onBlur="onShoutboxArchiveSearchBlur(this);">
          <input type="image" src="{EQDKP_ROOT_PATH}images/glyphs/view.png" value="Go" style="vertical-align:middle;" title="{L_SEARCH}">
        </form>
      </span>
    </th>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="2">
        <tr>
          <td width="150" valign="top">
            <table width="150" border="0" cellspacing="1" cellpadding="2" class="forumline">
              <!-- BEGIN year_row -->
              <tr>
                <th align="center">{year_row.YEAR}</th>
              </tr>
              <!-- BEGIN month_row -->
              <tr class="{year_row.month_row.CLASS}">
                <td>
                  <span style="float:left">
                    &nbsp;
                    <a href="{year_row.month_row.LINK_VIEW}">
                      <img src="{EQDKP_ROOT_PATH}images/arrow.gif">&nbsp;&nbsp;{year_row.month_row.MONTH}
                    </a>
                  </span>
                  <span style="float:right">
                    ({year_row.month_row.COUNT})
                  </span>
                </td>
              </tr>
              <!-- END month_row -->
              <!-- END year_row -->
            </table>
          </td>
          <td>
            <form method="post" action="{LINK_MANAGE}" id="sb_table">
              <table width="100%" border="0" cellspacing="1" cellpadding="2">
                <!-- IF PAGINATION -->
                <tr class="row2">
                  <td align="center" colspan="5">{PAGINATION}</td>
                </tr>
                <!-- ENDIF PAGINATION -->
                {SB_TABLE}
                <tr>
                  <th colspan="5">
                    <input name="start" type="hidden" value="{START}" />
                    <input type="submit" name="sb_delete" value="{L_DELETE}" class="mainoption bi_delete" />
                    <input type="reset" name="sb_reset" value="{L_RESET}" class="liteoption bi_reset" />
                  </th>
                </tr>
                <!-- IF PAGINATION -->
                <tr class="row2">
                  <td align="center" colspan="5">{PAGINATION}</td>
                </tr>
                <!-- ENDIF PAGINATION -->
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br/>

<!-- INCLUDE about_footer.html -->
