<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_shoutbox}: {L_settings}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_settings}</h1>
</div>

<div id="info_table">
	<div class="infobox infobox-large infobox-blue clearfix">
		<i class="fa fa-info-circle fa-4x pull-left"></i> {L_sb_settings_info}
	</div>
</div>
<form name="sb_settings" action="{ACTION}" method="post">
  <fieldset class="settings">
    <legend>{L_sb_header_general}</legend>
    <div id="sb_settings_general">
      <dl>
        <dt>
          <label>{L_sb_use_users}</label><br/>
          <span>{L_sb_use_users_help}</span>
        </dt>
        <dd>
          <label>{F_USE_USERS}</label>
        </dd>
      </dl>
    </div>
    <br />
	<div class="center">
	  <button type="submit" name="sb_save" class="mainoption"><i class="fa fa-check"></i>{L_save}</button>
	  <button type="reset" class="liteoption"><i class="fa fa-trash-o"></i>{L_reset}</button>
    </div> 
  </fieldset>
{CSRF_TOKEN}
</form>
<br />
<!-- INCLUDE about_footer.html -->
