
{UPDCHECK_BOX}

<table width="100%" border="0" cellspacing="0" cellpadding="2" class="infotable">
 <tr>
    <td class="row1" align="left"><img src="{EQDKP_ROOT_PATH}images/info_big.png"></td>
    <td class="row1" align="center">{L_SETTINGS_INFO}</td>
  </tr>
</table>
<br>
<form name="settings" action="{F_CONFIG}" method="post">
  <table border="0" width="100%" cellspacing="1" cellpadding="2">
    <tr>
      <th align="center" colspan="2">{L_GENERAL}</th>
    </tr>
    <tr>
      <td width="55%" class="row2">{L_UPDATE_CHECK}</td>
      <td width="45%" class="row1"><input type="checkbox" name="sb_updatecheck" value="1" {UPDATE_CHECK} /></td>
    </tr>
    <tr>
      <th align="center" colspan="2">
        <input type="submit" name="save_settings" value="{L_SAVE}" class="mainoption bi_ok" />
        <input type="reset" name="sb_reset" value="{L_RESET}" class="liteoption bi_reset" />
      </th>
    </tr>
  </table>
</form>
<br />

<!-- INCLUDE about_footer.html -->
