<div class="breadcrumb-container">
	<ul class="breadcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a>{L_shoutbox}: {L_sb_shoutbox_archive} {S_PAGE_TITLE}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_sb_shoutbox_archive} {S_PAGE_TITLE}</h1>
</div>

<div class="grid">
	<div class="onerow">
		<div class="col2">
			  <table class="table fullwidth forumline colorswitch">
              <!-- BEGIN year_row -->
              <tr>
                <th class="center">{year_row.YEAR}</th>
              </tr>
              <!-- BEGIN month_row -->
              <tr>
                <td>
                  <span style="float:left">
                    <a href="{year_row.month_row.LINK_VIEW}" class="menu_arrow">{year_row.month_row.MONTH}</a>
                  </span>
                  <span style="float:right">
                    ({year_row.month_row.COUNT})
                  </span>
                </td>
              </tr>
              <!-- END month_row -->
              <!-- END year_row -->
            </table>
		</div>
		<div class="col10 last">
			 <!-- IF S_COUNT gt 0 -->
            <table class="table fullwidth colorswitch">
              <!-- BEGIN shoutbox_row -->
              <tr>
                <td class="sb_horizontal">
                	<!-- IF shoutbox_row.S_AVATAR -->
                	<div class="user-avatar-small user-avatar-border floatLeft">
                		{shoutbox_row.USERAVATAR}
                	</div>
                	<!-- ENDIF -->
                	<div class="sb_content_container <!-- IF shoutbox_row.S_AVATAR -->sb_with_avatar<!-- ENDIF -->">
                		<!-- IF CAN_DELETE -->
	                  <form action="{ACTION}" method="post">
	                    <span style="float:right">
	                      <!-- IF S_YEAR --><input type="hidden" name="year" value="{S_YEAR}" /><!-- ENDIF S_YEAR -->
	                      <!-- IF S_MONTH --><input type="hidden" name="month" value="{S_MONTH}" /><!-- ENDIF S_MONTH -->
	                      <input type="hidden" name="delete_id" value="{shoutbox_row.ID}" />
	                      <i class="fa fa-times-circle fa-lg icon-grey hand" title="{L_delete}" onclick="$(this).parent().find('.sb_delete_btn').click();"></i>
	                      <input type="submit" name="sb_delete" value="{L_delete}" class="sb_delete_btn" style="display:none;"/>
	                    </span>
						{CSRF_TOKEN}
	                  </form>
	                  <!-- ENDIF -->
                		<div class="sb_date small">{shoutbox_row.DATE} {shoutbox_row.TIME}, {shoutbox_row.NAME}</div>
                		<div class="sb_text sb_text_margin">{shoutbox_row.MESSAGE}</div>
                	</div>
                </td>
              </tr>
              <!-- END shoutbox_row -->
            </table>
            <!-- ELSE -->
            <table class="table fullwidth">
              <tr><th>&nbsp;</th></tr>
              <tr><td class="row1">{L_sb_no_entries}</td></tr>
              <tr><th>&nbsp;</th></tr>
            </table>
            <!-- ENDIF S_COUNT -->
		</div>
	</div>
</div>