
<form method="post" action="{F_MANAGE}">
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <!-- IF PAGINATION -->
    <tr class="row2">
      <td align="center" colspan="5">{PAGINATION}</td>
    </tr>
    <!-- ENDIF PAGINATION -->
    {SB_TABLE}
    <tr>
      <th colspan="5">
        <input name="start" type="hidden" value="{START}" />
        <input type="submit" name="sb_delete" value="{L_DELETE}" class="mainoption bi_delete" />
        <input type="reset" name="sb_reset" value="{L_RESET}" class="liteoption bi_reset" />
      </th>
    </tr>
    <!-- IF PAGINATION -->
    <tr class="row2">
      <td align="center" colspan="5">{PAGINATION}</td>
    </tr>
    <!-- ENDIF PAGINATION -->
  </table>
</form>
<br/>
