
<form method="post" action="{F_MANAGE}">
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <!-- IF PAGINATION -->
    <tr class="row2">
      <td align="center" colspan="{COLSPAN}">{PAGINATION}</td>
    </tr>
    <!-- ENDIF PAGINATION -->
    {SB_TABLE}
    <tr>
      <th colspan="{COLSPAN}">
        <input name="start" type="hidden" value="{START}" />
        <!-- IF CAN_DELETE -->
        <input type="submit" name="sb_delete" value="{L_DELETE}" class="mainoption bi_delete" />
        <!-- ENDIF CAN_DELETE -->
      </th>
    </tr>
    <!-- IF PAGINATION -->
    <tr class="row2">
      <td align="center" colspan="{COLSPAN}">{PAGINATION}</td>
    </tr>
    <!-- ENDIF PAGINATION -->
  </table>
</form>
<br/>
