
{JS_MARK}

<form method="post" action="{F_CONFIG}" name="shoutbox_enties" id="shoutbox_enties">
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
    <tr>
      <td align="center" class="menu">{PAGINATION}</td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
      <th align="center" width="5%"></th>
      <th align="center" width="120px">{L_DATE}</th>
      <th align="center" width="20%">{L_NAME}</th>
      <th align="center">{L_TEXT}</th>
    </tr>
    <!-- BEGIN sb_row -->
    <tr class="{sb_row.class}" onmouseout="this.className='{sb_row.class}';" onmouseover="this.className='rowHover';">
      <td align="center"><input type="checkbox" name="shoutbox_id[]" value="{sb_row.id}"{sb_row.selected} /></td>
      <td align="center">{sb_row.date}</td>
      <td>{sb_row.name}</td>
      <td>{sb_row.text}</td>
    </tr>
    <!-- END sb_row -->
    <tr class="{F_MARK_CLASS}">
      <td colspan="4">
        <a href="{F_CONFIG}&amp;start={START}&amp;checkall=1" onclick="if (markAllSBEntries('shoutbox_enties')) return false;">{L_SELECT_ALL}</a>
        /
        <a href="{F_CONFIG}&amp;start={START}" onclick="unmarkAllSBEntries('shoutbox_enties'); return false;">{L_SELECT_NONE}</a>
      </td>
    </tr>
    <tr>
      <th colspan="4" class="footer">{FOOTCOUNT}</th>
    </tr>
  </table>
  <br/>
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
      <th align="center">
        <input type="hidden" name="start" value="{START}" />
        <input type="submit" name="shoutbox_delete" value="{L_DELETE}" class="mainoption" />
      </th>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="borderless">
    <tr>
      <td align="center" class="menu">{PAGINATION}</td>
    </tr>
  </table>
</form>
<br />
